/* 
	For Legal-style outline numbering 
		ex. 1, 1.1, 1.2, 1.3.1, 1.4, 2
*/
/*
ol.increment {
    counter-reset: item;
}
ol.increment li {
    display: block;
    position: relative;
} 
ol.increment li:before {
    content: counters(item, ".")".";
    counter-increment: item;
    position: absolute;
    margin-right: 100%;
    right: 10px; /* space between number and text
}
 */
ol.alpha-u {
    list-style-type: upper-alpha;
}

/* Default icon size */
i {
	font-size: 2.2rem;
}

address {
    text-align: left;
    font-style: normal;
    text-indent: 0;
}

/* Hide editing controls */
.editing {
    visibility: hidden;
}

.not-editing {
    /*text-decoration: underline;*/
    display: inline;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: solid 1px;
}

table div.not-editing {
    border: none;
}

address {
    display: inline;
}

.col-container {
    width: 50rem;
    display: table;
}
.col1 {
    float:left;
    width: 10rem;
    border: 1px solid blue;
}
.col2 {
    border: solid 1px black;
    width: 100%;
    display: table-cell;
    height: inherit;
}
.col3 {
    float:right;
    width: 10rem;
    border: 1px solid green;
}

h3 {display:inline;}
.header-suffix {
    margin-left: .5rem;
    display: inline;
}

.main {
    margin-top: 45px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}


footer {
    background-color: darkgrey;
}

.top-bar {
    background-color: #011f4b;
    font-size: 6rem;
}
/* green pallete 
#074B01
#042D00
*/

