{% extends "index.html" %}
{% block content %}

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
  {% load static from staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/google_places_maps.css' %}"></script>
  <script src="{% static 'js/google_maps.js' %}"></script>

<!--<div class="">
  <section class="row" id="map_address">
    <input id="pac-input" class="controls" type="text" placeholder="Enter a street address" onFocus="geolocate()">
    <div id="map-canvas"></div>
  </section>
  <section class="row" id="text_address">
    <label for="street_number">Street Number</label>
    <input type="text" id="street_number" disabled="true"></input>
    <label for="route">Street Name</label>
    <input type="text" id="route" disabled="true"></input>
    <label for="locality">City</label>
    <input type="text" id="locality" disabled="true"></input>
    <label for="administrative_area_level_1">State</label>
    <input type="text" id="administrative_area_level_1" disabled="true"></input>
    <label for="postal_code">Postal code</label>
    <input type="text" id="postal_code" disabled="true"></input>
    <label for="country">Country</label>
    <input type="text" id="country" disabled="true"></input>
  </section>
</div>-->
<input type="radio" id="form_address" /><label for="form_address"><div class="formsection_tab"><header><h2>Address</h2></header></div></label>
<section id="newproperty_address">
  <input id="pac-input" class="controls" type="text" placeholder="Search for your address..">
  <div id="map_canvas"></div>
  <div id="showPlaceInMarker" style="visibility: hidden; display: none;">
  <table id="address">
    <tr>
      <td class="label">Street address</td>
      <td class="slimField">
        <input class="field" id="street_number" disabled="true"></input>
      </td>
      <td class="wideField" colspan="2">
        <input class="field" id="route" disabled="true"></input>
      </td>
    </tr>
    <tr>
      <td class="label">City</td>
      <td class="wideField" colspan="3">
        <input class="field" id="locality" disabled="true"></input>
      </td>
    </tr>
    <tr>
      <td class="label">State</td>
      <td class="slimField">
        <input class="field" id="administrative_area_level_1" disabled="true"></input>
      </td>
      <td class="label">Zip code</td>
      <td class="wideField">
        <input class="field" id="postal_code" disabled="true"></input>
      </td>
    </tr>
    <tr>
      <td class="label">Country</td>
      <td class="wideField" colspan="3">
        <input class="field" id="country" disabled="true"></input>
      </td>
    </tr>
  </table>
  </div>
  <input type="submit" />
  <a href="#" class="button">Add to My Properties</a>
</section>
{% block units %}
{% endblock units %}

{% endblock %}